.title {
    color: rebeccapurple;
}

.desc{
    color: rebeccapurple;
}

.navbar-brand{
    color: white !important;
}

.nav-link{
    color: white;
}

.navbar{
    background-color: white;
}

.carousel{
    
}


.navbar-nav{
    margin-left: 500px;
}
